body{
	margin-left: 10%;
	margin-right: 10%;
}

h1{
	text-align: center;
	font-size: 2em;
}

h2{
	text-align: center;
	font-size: 2em;
}

/* style welcome page */
#welcome-page{
	text-align: center;
	/*border: 3px solid black;*/
}

#welcome-video{
	position: relative;
	padding-bottom: 50%;
	padding-top: 25px;
	height: 0;
	/*border: 3px solid purple;*/
}

#welcome-video iframe{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	/*border: 3px solid green;*/
}

#interest-link{
	font-size: 1.5em;
	padding-top: 1em;
	padding-bottom: 1em;
}

/* style thank you page */
#thank-you{
	display: block;
 	margin-left: auto;
  	margin-right: auto;
}

#thank-you p{
	text-align: center;
	margin: 0;
	font-size: 3em;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	color: black;
}

/* style interest form */
form{
	display: flex;
  	flex-direction: column;
  	justify-content: left;
  	align-items: center;
}

.form-part{
	text-align: left;
	display: block;
	margin: 5px;
	padding: 5px;
}

p, .error-message{
	text-align: center;
	color: red;
}









