body{
	margin-left: 10%;
	margin-right: 10%;
}

h1{
	text-align: center;
	font-size: 2em;
}

h2{
	text-align: center;
	font-size: 2em;
}

/* style welcome page */
#welcome-page{
	text-align: center;
}

#welcome-video{
	position: relative;
	padding-bottom: 50%;
	padding-top: 25px;
	height: 0;
}

#welcome-video iframe{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

#interest-link{
	font-size: 1.5em;
	padding-top: 1em;
	padding-bottom: 1em;
}

/* style thank you page */
.thank-you{
  	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);

  	display: flex;
	flex-direction: column;
  	justify-content: left;
  	align-items: center;
}

p#subtext{
	font-size: 1.5em;
	color: black;
}

.thank-you p{
	text-align: center;
	display: block;
	margin: 5px;
	padding: 5px;
	font-size: 3em;
	color: black;
}

/* style interest form */
form{
	display: flex;
  	flex-direction: column;
  	justify-content: flex-start;
  	align-items: flex-start;
  	/*border: 3px solid black;*/
  	width: 28%;
  	margin: auto;
}

.form-part{
	text-align: left;
	display: block;
	margin: 5px;
	padding: 5px;
	margin-left: 10px;
}

p, .error-message{
	text-align: center;
	color: red;
}

@media only screen and (max-width: 400px) {
  form {
    width: 40%;
  }
}

@media only screen and (max-width: 800px) {
  form {
    width: 25%;
  }
}






